/*  กำหนดตัวแปรสีหลัก */
:root {
  --primary-color: #003580;  /* สีฟ้าเข้ม */
  --secondary-color: #FF6F00;
  --pr-font-color: #0056B3;
  --bg-font-color: #fff; /* สีฟ้า Facebook */
  --border-color: #ddd; 
}

.list-container {
  font-family: Arial, sans-serif;
  padding: 50px;
  background-color: var(--bg-font-color);
  display: flex;
  justify-content: space-between;  /* ใช้ space-between เพื่อให้คอนเทนต์ทั้งสองฝั่งห่างกัน */
  align-items: flex-start; 
  min-height: 100vh; 
  box-sizing: border-box;
  gap: 30px; /* ระยะห่างระหว่าง filterBox และ content */
  margin: 0 auto; 
  max-width: 1200px; 
  width: 100%; 
}

  .list-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
  }

  .list-tour-card {
    padding: 10px;
    background-color: var(--bg-font-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 850px; 
    width: 790px;
    height: 200px;
  }
  
  .list-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 770px;
  }
  
  /* ฝั่งซ้าย - รูปภาพและข้อมูล */
  .list-left-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .list-image {
    float: left;
    width: 220px;
    height: 200px;
    margin-right: -2px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center; 
    align-items: center; 
    margin-top: -1px;
  }

  /* คอนเทนเนอร์หลักที่ใช้สำหรับการจัดตำแหน่ง */
  .list-tour-info-container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }

  .list-title {
    font-size: 17px;
    font-weight: bold;
    color: var(--pr-font-color);
    margin-bottom: -5px;
    text-align: left;
    height: 45px;  /* กำหนดความสูงคงที่สำหรับทุกชื่อโปรโมชัน */
    min-height: 45px; /* สำหรับให้ไม่ต่ำกว่า 50px แม้ว่าชื่อจะสั้น */
    text-align: left; /* จัดข้อความให้อยู่กลาง */
    padding: 0 0; /* เพิ่ม padding เล็กน้อยเพื่อไม่ให้ข้อความชิดขอบ */ 
    margin-top: 10px; 
    width: 420px;
  }

  .list-places {
    color: var(--secondary-color);
    font-size: 0.85rem;
    text-align: left;
    gap: 5px;
    display: -webkit-box;
    overflow: hidden;
   /* -webkit-box-orient: vertical; 
    -webkit-line-clamp: 1; */
    line-height: 1.5;
    white-space: normal;
    text-overflow: ellipsis;
    margin-bottom: 12px;
    margin-top: 5px;
  }
  
  .list-icons {
    margin-right: 5px;
  }

  /* Container ของข้อมูลเดือนและรหัสทัวร์ */
  .list-departure-info {
    display: flex;

    gap: 8px;
    margin-top: 35px;
    align-items: center;
    font-size: 0.85rem;
  }

/* ข้อความแสดงว่ามีจำหน่ายตลอดทั้งปี */
  .list-departure-info span {
    font-size: 16px;
    color: var(--pr-font-color);
  }

/* ปุ่มแสดงเดือน */
  .list-month-button {
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 5px;
    background: var(--secondary-color);
    color: var(--bg-font-color);
    width: 40px;
    height: 30px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
/* กรณีปุ่มซ่อน */
  .list-hidden-month-button {
    visibility: hidden;
  }

    /* เส้นแบ่ง */
  .list-horizontal-line {
    border-top: 1px solid var(--border-color);
    margin-top: 10px;
    padding-top: 1px;
    margin-bottom: -5px;
  }

  .list-price {
    margin-top: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -5px;
  }
  .list-price-unit {
    color: var(--pr-font-color);
    font-size: 16px;
  }
  .list-price-text {
    font-size: 18px;
    color: var(--secondary-color);
  }
 
  .list-divider {
    border-left: 1px solid var(--border-color);
    height: 200px;
    margin-left: 5px;
  }
  .list-button {
    background-color: var(--secondary-color);
    color: var(--bg-font-color);
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .list-info {
    overflow: hidden;
  }
 
  .list-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid var(--border-color);
    padding-top: 1px;
    margin-top: 10px;
  }
  .list-detailBox {
    text-align: center;
    border-right: 1px solid var(--border-color);
  }
  .list-no-border {
    border-right: none;
  }
  .list-label {
    font-weight: bold;
    color: var(--pr-font-color);
    margin-bottom:  -7px;
    margin-top:  5px;
    font-size: 15px;
  }
  .list-value {
    color: var(--secondary-color);
    font-size: 14px;
    margin-bottom: 5px;
  }
  

  .list-price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 140px;
    margin-right: -15px;
  }
  .list-price-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  .list-price-label {
    margin: 0;
    color: var(--primary-color);
    font-size: 12px;
  }
  .list-price-value {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: var(--secondary-color);
  }
  .list-detail-button-container {
    margin-top: 118px;
  }

  .list-detail-button {
    display: block;
    background-color: var(--primary-color);
    color: var(--bg-font-color);
    text-align: center;
    padding: 8px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
  }
  


/* Media Query สำหรับขนาดหน้าจอที่เล็กกว่า 768px */
@media screen and (max-width: 1300px) {
  
  .list-container {
    padding: 10px;
    width: 100%;
  
}
}
/* Media Query สำหรับขนาดหน้าจอที่เล็กกว่า 768px */
@media screen and (max-width: 1100px) {
  
  .list-container {
    flex-direction: column;
    align-items: center; /* จัดให้อยู่ตรงกลาง */
    justify-content: center; /* จัดให้อยู่ตรงกลาง */
    padding: 20px;
    width: 100%;
  
}

.list-tour-card {
  padding: 10px;
  background-color: var(--bg-font-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 850px; 
  width: 790px;
  height: 200px;
  padding: 5px;
}
}
/* Media Query สำหรับขนาดหน้าจอที่เล็กกว่า 768px */
@media screen and (max-width: 790px) {
  
  .list-container {
    flex-direction: column;
    align-items: center; /* จัดให้อยู่ตรงกลาง */
    justify-content: center; /* จัดให้อยู่ตรงกลาง */
    padding: 20px;
    width: 100%;
  
}

.list-content {
  margin: auto;
 
}
.list-flex-container {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.list-left-section {
  flex-direction: column;

}
.list-tour-info-container {
  margin-left: 0; /* ลบ margin-left หรือปรับเป็น 0 */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list-image {
  width: 100%;
  height: auto;
  margin-right: 0;
}

.list-tour-card {
  width: 90%;
  max-width: 550px;
  height: auto;
  margin-bottom: 20px;
  margin: auto;
}

.list-title {
  width: 100%;
  font-size: 18px;
}

.list-places {
  font-size: 1.2rem;
  
}

.list-departure-info {
  flex-direction: row;

}

.list-price {
  flex-direction: row;
  align-items: flex-start;
}

/* Container ของข้อมูลเดือนและรหัสทัวร์ */
.list-departure-info {
  gap: 8px;
  margin-top: 5px;
  justify-content: space-between;
}
/* ข้อความแสดงว่ามีจำหน่ายตลอดทั้งปี */
.list-departure-info span {
  font-size: 16px;
  width: 27%;
  text-align: left;
}
.list-price {
  margin-top: -1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -5px;
}
.list-price-unit {
  font-size: 18px;
}
.list-price-text {
  font-size: 18px;
}

.list-price-container {
  flex-direction: row;
 justify-content: space-between;

  width: 100%;
  margin-right: 0;
  margin-top: -90px;
 
}

 /* เมื่อหน้าจอเล็ก, ให้เปลี่ยน list-divider เป็นเส้นแนวนอน */
 .list-divider {
  width: 100%;   /* ให้ความกว้างเต็ม */
  height: 1px;   /* กำหนดให้มันเป็นเส้นบาง */
  border-top: 1px solid var(--border-color);
  margin-top: 3px;
  
  
}
.list-price-details {
 
  margin-bottom: -1px;
}

/* ปุ่มแสดงเดือน */
.list-month-button {
  width: 50px;
  height: 35px;
  font-size: 1rem;
 
}

}


/* Media Query สำหรับขนาดหน้าจอที่เล็กกว่า 768px */
@media screen and (max-width: 760px) {
  
    .list-container {
      flex-direction: column;
      align-items: center; /* จัดให้อยู่ตรงกลาง */
      justify-content: center; /* จัดให้อยู่ตรงกลาง */
      padding: 10px;
      width: 100%;
    
  }

  .list-content {
    margin: auto;
   
  }
  .list-flex-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .list-left-section {
    flex-direction: column;
  
  }
  .list-tour-info-container {
    margin-left: 0; /* ลบ margin-left หรือปรับเป็น 0 */
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .list-image {
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .list-tour-card {
    width: 95%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
    margin: auto;
  }

  .list-title {
    width: 100%;
    font-size: 16px;
  }

  .list-places {
    font-size: 0.8rem;
    
  }

  .list-departure-info {
    flex-direction: row;
    gap: px;
  }

  .list-price {
    flex-direction: row;
    align-items: flex-start;
  }

  /* Container ของข้อมูลเดือนและรหัสทัวร์ */
  .list-departure-info {
    gap: 8px;
    margin-top: 5px;
    justify-content: space-between;
  }
/* ข้อความแสดงว่ามีจำหน่ายตลอดทั้งปี */
  .list-departure-info span {
    font-size: 14px;
    width: 27%;
    text-align: left;
  }
  .list-price {
    margin-top: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -5px;
  }
  .list-price-unit {
    font-size: 14px;
  }
  .list-price-text {
    font-size: 14px;
  }
 
  .list-price-container {
    flex-direction: row;
   justify-content: space-between;
  
    width: 100%;
    margin-right: 0;
    margin-top: -90px;
   
  }
  
   /* เมื่อหน้าจอเล็ก, ให้เปลี่ยน list-divider เป็นเส้นแนวนอน */
   .list-divider {
    width: 100%;   /* ให้ความกว้างเต็ม */
    height: 1px;   /* กำหนดให้มันเป็นเส้นบาง */
    border-top: 1px solid var(--border-color);
    margin-top: 3px;
    
    
  }
  .list-price-details {
   
    margin-bottom: -1px;
  }

/* ปุ่มแสดงเดือน */
  .list-month-button {
    width: 35px;
    height: 30px;
    font-size: 0.7rem;
   
  }

}



/* Media Query สำหรับขนาดหน้าจอที่เล็กกว่า 768px */
@media screen and (max-width: 330px) {
  .list-container {
    flex-direction: column;
    align-items: center; /* จัดให้อยู่ตรงกลาง */
    justify-content: center; /* จัดให้อยู่ตรงกลาง */
    padding: 15px;
    width: 100%;
    
  }
  .list-price-value {
    font-size: 16px;
  }
  .list-detail-button {
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 12px;
   
  }
  .list-flex-container {
    flex-direction: column;
    align-items: center;
    width: 100%;  
    
  }

  .list-left-section {
    flex-direction: column;
  
  }
  .list-tour-info-container {
    margin-left: 0; /* ลบ margin-left หรือปรับเป็น 0 */
    display: flex;
    flex-direction: column;
  }

  .list-image {
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .list-tour-card {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
  }

  .list-title {
    width: 100%;
    font-size: 14px;
  }

  .list-places {
    font-size: 0.8rem;
    
  }

  .list-departure-info {
    flex-direction: row;
    gap: 5px;
    margin-top: 5px;
  }
  
/* ข้อความแสดงว่ามีจำหน่ายตลอดทั้งปี */
.list-departure-info span {
  font-size: 14px;
}
  .list-price {
    flex-direction: row;
    align-items: flex-start;
  }


  .list-price {
    margin-top: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -5px;
  }
  .list-price-unit {
    font-size: 14px;
  }
  .list-price-text {
    font-size: 14px;
  }
 
  .list-price-container {
    flex-direction: row;
    align-items: space-between;
    gap: 40%;
    width: 100%;
    margin-right: 0;
    margin-top: -90px;
    justify-content: center;
  }
  
   /* เมื่อหน้าจอเล็ก, ให้เปลี่ยน list-divider เป็นเส้นแนวนอน */
   .list-divider {
    width: 100%;   /* ให้ความกว้างเต็ม */
    height: 1px;   /* กำหนดให้มันเป็นเส้นบาง */
    border-top: 1px solid var(--border-color);
    margin-top: 3px;
    
    
  }
  .list-price-details {
   
    margin-bottom: -1px;
  }

/* ปุ่มแสดงเดือน */
  .list-month-button {
    width: 33px;
    height: 30px;
    font-size: 0.7rem;
   
  }
  .list-horizontal-line {
    display: block;
    width: 100%;
  }
  
}


  

  
